<div class="card_post mt-2">
  <div class="card_post_header">
    <p class="titulo_p">Publicaciones</p>
  </div>
  <div class="card_post_body">
    <div class="row">
      <div class="col-12 d-flex">
        <div class="user_imagen">
          <img
            src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
            class="img-fluid" alt>
        </div>
        <div class="user_pensnado d-flex justify-content-center align-items-center p-2">
            <p  class="w-100 input_perfil" style="border: none;" (click)="abrirModal()" >¿Que estas pensando?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="" style="background-color: aliceblue; width: 100%; height: 100%;"></p>
      </div>
    </div>
  </div>
</div>
<app-post-crear
  *ngIf="isModalOpen"
  (cerrarModal)="cerrarModal()">
</app-post-crear>