<div class="container-xxl">
  <div class="row">
    <div class="col-12 col-sm-12 col-xs-12 col-lg-12">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-xs-12 col-lg-12">
      <div class="d-flex justify-content-center align-items-center">
        <div class="img_redonda">
          <img
            src="https://static.vecteezy.com/system/resources/previews/008/442/086/original/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
            class="img-fluid" alt>
        </div>
      </div>
      <div class="text-center mt-3">
        <h2 class="nombre_usuario">Alan Cruz</h2>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-light">Editar Perfil</button>
      </div>
    </div>
  </div>
</div>
<app-post>
  
</app-post>